#whyfacts{
    /* background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/facts-img.jpg) center/cover no-repeat; */
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Destination.jpg) center/cover no-repeat; */
    min-height: 60vh;
  }
  @media screen and (min-width: 992px) {
  .icard{
    /* background-color: white; */
    /* border-radius: 10px; */
    width: 25rem;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
  }
  .icard h5{
    justify-content: center;
    display: flex;
    color: black;
    /* font-size: 20px; */
  }
  .iedgemaincard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    /* padding: 6rem; */
  }

}


@media screen and (min-width: 425px) {

    .iedgemaincard{
        display: grid;
        grid-template-columns:1fr;
        gap: 2rem;
        padding: 2rem;
      }
 
}
@media screen and (min-width: 375px) {

    .iedgemaincard{
        display: grid;
        grid-template-columns:1fr;
        gap: 2rem;
        padding: 2rem;
      }
 
}
@media screen and (min-width: 320px) {

    .iedgemaincard{
        display: grid;
        grid-template-columns:1fr;
        gap: 2rem;
        padding: 2rem;
      }
 
}

@media screen and (min-width: 768px) {

    .iedgemaincard{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        /* padding: 6rem; */
      }
 
}
@media screen and (min-width: 1024px) {
    .iedgemaincard{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        /* padding: 6rem; */
      }
}
@media screen and (min-width: 1100px) {
    .iedgemaincard{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        /* padding: 6rem; */
      }
}